
li{
    text-decoration: none;
}
body{
    background-color: chocolate;
    box-sizing: border-box;
}
.content{
    margin: 0 auto;
    width: 70%;
}
.header-image{
    width: 300px;
    height: 350px;
}
